.headingContainer {
  padding: 50px 0;
}

.image {
  background-color: rgb(224, 253, 234);
  border-radius: 5px;
}

.imageContainer {
  margin-top: 40px;
}

.figcaption {
  font-size: 15px;
}

.headerSecondary {
  margin-bottom: 10px;
}

.mainContent p {
  line-height: 1.5;
}

.navigationContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}

.blockquote {
  margin: 1rem 0 1rem 3rem;
  opacity: 0.9;
  border-left: 2px solid rgba(0, 0, 0, 0.2);
}

.blockquote > * {
  margin-left: 2rem;
}

.blockquote ol,
.blockquote ul {
  margin-left: 5rem;
}

.list {
  list-style: inside decimal;
  margin-bottom: 10px;
}

@media screen and (max-width: 550px) {
  .blockquote {
    margin: 1rem 0 1rem 1rem;
  }
}
